@font-face {
  font-family: "iconfont"; /* Project id 3269257 */
  src: url('iconfont.woff2?t=1647958420918') format('woff2'),
       url('iconfont.woff?t=1647958420918') format('woff'),
       url('iconfont.ttf?t=1647958420918') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paizhao:before {
  content: "\e6ba";
}

.icon-saoma:before {
  content: "\e712";
}

